<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="carta">
        <h3 class="titulo">  Titulo</h3>
        <p class="Descripsion" > Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        <img class="foto" src="oreo.jpg" alt="">
        <div class="contenedor_cantidad">
            <span class="precio">$ 0.00</span> 
            <div class="cantidad">
                <button class="boton_cantidad">-</button>
                <span> 0 </span>
                <button class="boton_cantidad">+</button>
            </div>
        </div>
        <button class="boton_agregar">AGREGAR</button>
    </div>
</body>
</html>