<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/4eb2a2e35e.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <div class="icon_store">
            <i class="fas fa-shopping-cart"></i>
        </div>
        <form class=login action="">
            <div class="contenedor_inicio_sesion">
                <h2 class="inicio_sesion">Iniciar sesión</h2>
            </div>
            <div class="contenedor_input">
                <label class="label_input" for="email">Correo Electronico</label>
                <input class="input" type="email" name="email">
            </div>
            <div class="contenedor_input">
                <label class="label_input" for="pass">Contraseña</label>
                <input class="input" type="password" name="pass">
            </div>
            <input class="button_login" type="button" value="login">
        </form>
        <h1 class="logotipo">
            Tienda
        </h1>
    </did>
</body>
</html>