doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/style_layout.css')
  script(src='https://kit.fontawesome.com/4eb2a2e35e.js' crossorigin='anonymous')
  title Document
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='style.css')
  script(src='https://kit.fontawesome.com/4eb2a2e35e.js' crossorigin='anonymous')
  title Document
body.grid-container
  .modal.ocultar_modal
    .contenedor_lista_pedidos
      .logotipo
        | tienda
      .contenedor_table
        table.lista_productos
          thead
            tr
              th Nombre
              th Cantidad
              th Precio
              th Total
              th Acciones
          tbody
            tr
              td Alfreds Futterkiste
              td Maria Anders
              td Germany
              td Maria Anders
              td Germany
            tr
              td Centro comercial Moctezuma
              td Francisco Chang
              td Mexico
              td Maria Anders
              td Germany
            tr
              td Ernst Handel
              td Roland Mendel
              td Austria
              td Maria Anders
              td Germany
            tr
              td Island Trading
              td Helen Bennett
              td UK
              td Maria Anders
              td Germany
            tr
              td Laughing Bacchus Winecellars
              td Yoshi Tannamuri
              td Canada
              td Maria Anders
              td Germany
            tr
              td Magazzini Alimentari Riuniti
              td Giovanni Rovelli
              td Italy
              td Maria Anders
              td Germany
            tr
              td Magazzini Alimentari Riuniti
              td Giovanni Rovelli
              td Italy
              td Maria Anders
              td Germany
            tr
              td Magazzini Alimentari Riuniti
              td Giovanni Rovelli
              td Italy
              td Maria Anders
              td Germany
            tr
              td Magazzini Alimentari Riuniti
              td Giovanni Rovelli
              td Italy
              td Maria Anders
              td Germany
            tr
              td Magazzini Alimentari Riuniti
              td Giovanni Rovelli
              td Italy
              td Maria Anders
              td Germany
            tr
              td Magazzini Alimentari Riuniti
              td Giovanni Rovelli
              td Italy
              td Maria Anders
              td Germany
      .footer_lista
        h3
          | Total: 
          span 0.00
        button.boton_pedir
          | Comprar
  nav.item1
    .contenedor_imagen_perfil
      img(src='images/usuario.svg' alt='' srcset='')
      .carta_nombre= nombre
    ul.menu
      li.rutas
        i.fas.fa-clipboard-list
        | Pedido
      li.rutas
        i.fas.fa-chart-bar
        | Estadistica
      li.rutas
        i.fas.fa-list-alt
        | Bodega
    .salir
      i.fas.fa-sign-out-alt
      | cerrar sesi&oacute;n
  header.item2
    .contenedor_notificacion
      .contador
        | 1
      i.fas.fa-store
  section.item3
    block content