doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/stylesheets/style_layout.css')
  link(rel='stylesheet' href='/stylesheets/style_card.css')
  script(src='https://kit.fontawesome.com/4eb2a2e35e.js' crossorigin='anonymous')
  title Document
body.grid-container
  .modal.ocultar_modal(id="modal")
    .contenedor_lista_pedidos
      .logotipo
        | tienda
      .contenedor_table
        table.lista_productos
          thead
            tr
              th Nombre
              th Cantidad
              th Precio
              th Total
              th Acciones
          tbody(id="tabla")
      .footer_lista
        .contenedor_costos
          h4
            | Subtotal: 
            span(id="subtotal") 0.00
          h4
            | Imp: 
            span(id="imp") 0.00
          h3
            | Total: 
            span(id="total") 0.00
        button.boton_pedir
          | Comprar
  nav.item1
    .contenedor_imagen_perfil
      img(src='images/usuario.svg' alt='' srcset='')
      .carta_nombre= nombre
    ul.menu
      li.rutas
        i.fas.fa-clipboard-list
        | Pedido
      li.rutas
        i.fas.fa-chart-bar
        | Estadistica
      li.rutas
        i.fas.fa-list-alt
        | Bodega
    .salir
      i.fas.fa-sign-out-alt
      | cerrar sesi&oacute;n
  header.item2
    .contenedor_notificacion(id="notificador_productos")
      .contador.ocultar_contador(id="contador_productos")
      i.fas.fa-store
  section.item3
    block content